# Hackney Room Prices

This notebook is used to implement a regression model, designed to predict the going rate of rooms in shared houses in the London borough of Hackney. The data is scraped from [SpareRoom](https://spareroom.co.uk).

The project will use custom built classes and functions. These will be written in a text editor / IDE for convenience, and the `autoreload` method below ensures that the notebook does not have to be restarted every time this code is altered.

In [1]:
%load_ext autoreload
%autoreload 2

## Load Packages

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

## Scraping the Data

In [ ]:
from scrape import SpareRoomScraper

scraper = SpareRoomScraper()
df = scraper.get_data()
df.head(60)

In [ ]:
df.to_feather('./data/peckham.feather')

## Preprocess

In [26]:
df = pd.read_feather('./data/peckham.feather')
df.head(60)

,ad_ref,area,available_in,balcony,bills,broadband,deposit,disabled_access,distance_to_station,furnished,gender,house_type,living_room,max_term,min_term,num_flatmates,parking,postcode,price,url
0,Ad ref# 14705491,London SE15,Now,No,Yes,Yes,£500.00,No,None,Furnished,Male preferred,House share,shared,None,1 month,8,Yes,SE15 Area info,£145 pw (double),https://www.spareroom.co.uk/flatshare/flatshar...
1,Ad ref# 16057872,Peckham,28 Feb 2022,No,None,None,None,No,0-5 minutes walk away,Furnished,None,Flat to rent,None,None,6 months,Yes,No,SE15 Area info,"£1,100 pcm (whole property)",https://www.spareroom.co.uk/flatshare/flatshar...
2,Ad ref# 15993666,Peckham,28 Feb 2022,No,None,None,None,No,0-5 minutes walk away,Furnished,None,Flat to rent,None,None,6 months,Yes,No,SE15 Area info,"£1,100 pcm (whole property)",https://www.spareroom.co.uk/flatshare/flatshar...
3,Ad ref# 16057268,Peckham,14 Feb 2022,Yes,Yes,Yes,£900.00,No,0-5 minutes walk away,Furnished,Female preferred,Flat share,shared,None,1 month,1,Yes,SE15 Area info,£900 pcm (double/en suite),https://www.spareroom.co.uk/flatshare/flatshar...
4,Ad ref# 598455,Peckham Rye,16 Jan 2022,No,Some,Yes,£900.00,No,5-10 minutes walk away,Furnished,Female preferred,Flat share,shared,None,2 months,1,No,SE15 Area info,£900 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
5,Ad ref# 16056358,Peckham,20 Feb 2022,No,Yes,Yes,£850.00,No,0-5 minutes walk away,Furnished,Male preferred,House share,shared,None,6 months,1,Yes,SE15 Area info,"£1,000 pcm (double/en suite)",https://www.spareroom.co.uk/flatshare/flatshar...
6,Ad ref# 8789731,London SE15,Now,Yes,Some,Yes,£675.00,No,10-15 minutes away,Furnished,Males or females,Flat share,No,None,6 months,1,Yes,SE15 Area info,£675 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
7,Ad ref# 16056195,Nunhead,01 Mar 2022,No,None,None,None,No,None,Part Furnished,None,Flat to rent,None,None,12 months,Yes,Yes,SE15 Area info,"£1,400 pcm (whole property)",https://www.spareroom.co.uk/flatshare/flatshar...
8,Ad ref# 15568641,Peckham,03 Feb 2022,None,No,Yes,£748.00,,None,Furnished,Males or females,Flat share,shared,None,None,3,None,SE15 Area info,£687 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
9,Ad ref# 15171013,Peckham Rye,01 Feb 2022,Yes,Yes,Yes,£999.00,,0-5 minutes walk away,Furnished,Males or females,House share,shared,None,3 months,1,Yes,SE15 Area info,"£1,099 pcm (double/en suite)",https://www.spareroom.co.uk/flatshare/flatshar...
10,Ad ref# 10545496,Peckham,18 Jan 2022,None,Yes,Yes,£639.00,,5-10 minutes walk away,Furnished,Males or females,Flat share,No,36 months,3 months,4,Yes,SE15 Area info,£639 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
11,Ad ref# 4759908,Peckham,Now,No,Yes,Yes,£400.00,No,None,Furnished,Male preferred,Flat share,No,None,6 months,5,Yes,SE15 Area info,£125 pw (single),https://www.spareroom.co.uk/flatshare/flatshar...
12,Ad ref# 16055415,Peckham,12 Feb 2022,No,Yes,Yes,£0.00,No,0-5 minutes walk away,Furnished,Males or females,Flat share,shared,None,None,3,No,SE15 Area info,£750 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
13,Ad ref# 8566882,Peckham Rye,Now,No,Yes,Yes,£725.00,No,5-10 minutes walk away,Furnished,Males or females,Flat share,No,24 months,6 months,2,No,SE15 Area info,£725 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
14,Ad ref# 3375116,Peckham,Now,None,None,None,None,,5-10 minutes walk away,Furnished,None,Flat to rent,None,None,12 months,No,None,SE15 Area info,"£1,250 pcm (whole property)",https://www.spareroom.co.uk/flatshare/flatshar...
15,Ad ref# 13310386,Peckham,Now,No,Yes,Yes,£500.00,No,None,Furnished,Males or females,House share,No,None,2 months,7,Yes,SE15 Area info,£140 pw (double),https://www.spareroom.co.uk/flatshare/flatshar...
16,Ad ref# 11606833,Peckham,Now,No,Yes,Yes,£500.00,No,0-5 minutes walk away,Furnished,Males or females,House share,shared,6 months,2 months,1,No,SE15 Area info,£900 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
17,Ad ref# 15707969,Peckham,Now,None,Yes,Yes,£200.00,,None,Furnished,Males or females,House share,None,None,None,8,Yes,SE15 Area info,£130 pw (single),https://www.spareroom.co.uk/flatshare/flatshar...
18,Ad ref# 16045785,Peckham,01 Feb 2022,None,Yes,Yes,£0.00,,None,Furnished,Female preferred,House share,shared,None,None,3,None,SE15 Area info,£750 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
19,Ad ref# 16011336,Peckham,Now,No,Yes,Yes,£500.00,No,10-15 minutes by bus away,Furnished,Male preferred,House share,shared,None,None,2,No,SE15 Area info,£700 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
20,Ad ref# 9379492,Peckham,Now,No,Yes,Yes,£350.00,No,0-5 minutes away,Furnished,Males or females,House share,No,None,6 months,2,No,SE15 Area info,£750 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
21,Ad ref# 13761043,Peckham,Now,No,Yes,Yes,£700.00,No,5-10 minutes walk away,Furnished,Males or females,House share,shared,None,12 months,3,Yes,SE15 Area info,£780 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
22,Ad ref# 16054613,Peckham,06 Mar 2022,No,None,None,None,No,None,Furnished,None,Flat to rent,None,None,12 months,No,No,SE15 Area info,"£1,300 pcm (whole property)",https://www.spareroom.co.uk/flatshare/flatshar...
23,Ad ref# 15689724,Peckham,Now,Yes,Yes,Yes,£800.00,No,None,Furnished,Female preferred,Flat share,shared,None,None,1,No,SE15 Area info,£800 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
24,Ad ref# 16054102,Peckham,01 Feb 2022,No,None,None,None,No,5-10 minutes walk away,Unfurnished,None,Flat to rent,None,None,12 months,No,Yes,SE15 Area info,"£1,250 pcm (whole property)",https://www.spareroom.co.uk/flatshare/flatshar...
25,Ad ref# 16053949,Peckham,19 Jan 2022,None,No,No,£800.00,,None,Furnished,Males or females,House share,shared,None,6 months,3,None,SE15 Area info,£800 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
26,Ad ref# 3252724,Peckham,Now,No,Yes,Yes,£600.00,No,0-5 minutes walk away,Furnished,Males or females,House share,shared,None,1 month,4,Yes,SE15 Area info,£600 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
27,Ad ref# 16053595,Peckham,Now,Yes,Yes,Yes,£500.00,No,0-5 minutes walk away,Furnished,Female preferred,Flat share,shared,None,None,4,No,SE15 Area info,£560 pcm (single),https://www.spareroom.co.uk/flatshare/flatshar...
28,Ad ref# 16053094,Peckham Rye,17 Jan 2022,No,No,Yes,£523.00,No,None,Furnished,Males or females,Flat share,No,None,None,3,No,SE15 Area info,£450 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
29,Ad ref# 15964952 Mon-Fri ONLY,Peckham,Now,No,Yes,Yes,£650.00,No,10-15 minutes walk away,Furnished,Males or females,House share,shared,None,None,1,No,SE15 Area info,£650 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
30,Ad ref# 16051108,Peckham Rye,05 Mar 2022,No,No,Yes,£0.00,No,0-5 minutes walk away,Furnished,Males or females,Flat share,shared,None,6 months,2,No,SE15 Area info,£690 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
31,Ad ref# 16050876 Mon-Fri ONLY,Peckham,Now,Yes,Some,Yes,£350.00,,None,Furnished,Males or females,House share,shared,None,None,4,Yes,SE15 Area info,£700 pcm (double/en suite),https://www.spareroom.co.uk/flatshare/flatshar...
32,Ad ref# 3045191,Peckham,Now,No,Some,Yes,£850.00,No,5-10 minutes walk away,Furnished,Males or females,House share,shared,2 months,1 month,2,Yes,SE15 Area info,£850 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
33,Ad ref# 16050293,Peckham,20 Jan 2022,No,Yes,Yes,£0.00,No,0-5 minutes walk away,Furnished,Males or females,House share,shared,24 months,3 months,2,No,SE15 Area info,£885 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
34,Ad ref# 13349086 Mon-Fri ONLY,Peckham,Now,Yes,Yes,Yes,£500.00,No,5-10 minutes walk away,Furnished,Males or females,Flat share,shared,None,1 month,1,Yes,SE15 Area info,£580 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
35,Ad ref# 12818926,Peckham,09 Mar 2022,None,Yes,Yes,£700.00,,5-10 minutes walk away,Furnished,Males or females,House share,shared,None,12 months,1,Yes,SE15 Area info,£776 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
36,Ad ref# 15750305 Mon-Fri ONLY,Peckham,10 Feb 2022,None,Yes,Yes,£500.00,,None,Furnished,Males or females,Flat share,shared,None,None,1,Yes,SE15 Area info,£950 pcm (double/en suite),https://www.spareroom.co.uk/flatshare/flatshar...
37,Ad ref# 16045056,Peckham,24 Jan 2022,No,No,No,£693.00,No,0-5 minutes walk away,Furnished,Males or females,House share,shared,None,7 months,4,No,SE15 Area info,£693 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
38,Ad ref# 16033571,Peckham,Now,None,Yes,Yes,£720.00,,10-15 minutes by bus away,Furnished,Male preferred,Flat share,shared,None,3 months,2,None,SE15 Area info,£720 pcm (double/en suite),https://www.spareroom.co.uk/flatshare/flatshar...
39,Ad ref# 2535894,Peckham Rye,01 Feb 2022,No,None,None,None,No,5-10 minutes walk away,Furnished,None,Flat to rent,None,1 month,1 month,No,Yes,SE15 Area info,£300 pw (whole property),https://www.spareroom.co.uk/flatshare/flatshar...
40,Ad ref# 15089104 Mon-Fri ONLY,Peckham,Now,Yes,Yes,Yes,£600.00,No,0-5 minutes walk away,Furnished,Males or females,House share,shared,None,3 months,2,Yes,SE15 Area info,£600 pcm (single/en suite),https://www.spareroom.co.uk/flatshare/flatshar...
41,Ad ref# 16047526,Peckham,16 Feb 2022,Yes,Some,Yes,£716.00,,None,Furnished,Males or females,Flat share,shared,None,None,2,None,SE15 Area info,£591 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
42,Ad ref# 16046919,Peckham,Now,No,No,No,£480.00,No,5-10 minutes walk away,Furnished,Female preferred,House share,shared,None,12 months,3,No,SE15 Area info,£480 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
43,Ad ref# 16046294,Peckham Rye,15 Jan 2022,No,No,No,£0.00,No,0-5 minutes walk away,Furnished,Males or females,Flat share,No,6 months,5 months,3,No,SE15 Area info,£500 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
44,Ad ref# 13793518 Mon-Fri ONLY,Peckham,Now,No,Yes,Yes,£400.00,No,0-5 minutes walk away,Furnished,Female preferred,House share,shared,12 months,6 months,3,Yes,SE15 Area info,£500 pcm (single),https://www.spareroom.co.uk/flatshare/flatshar...
45,Ad ref# 15312805,Peckham,12 Feb 2022,No,No,Yes,£692.00,No,5-10 minutes walk away,Furnished,Males or females,House share,shared,None,7 months,3,Yes,SE15 Area info,£620 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
46,Ad ref# 3574097 Mon-Fri ONLY,Peckham,16 Jan 2022,Yes,Yes,Yes,£620.00,No,0-5 minutes walk away,Furnished,Males or females,Flat share,shared,None,12 months,1,No,SE15 Area info,£620 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
47,Ad ref# 16042217,Peckham,Now,No,Yes,Yes,£575.00,No,0-5 minutes walk away,Unfurnished,Males or females,House share,shared,None,6 months,2,No,SE15 Area info,£850 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
48,Ad ref# 9839323,Peckham,18 Jun 2022,Yes,Yes,Yes,£795.00,No,0-5 minutes walk away,Furnished,Males or females,House share,shared,None,3 months,3,Yes,SE15 Area info,£795 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
49,Ad ref# 15994654,Peckham,02 Feb 2022,None,Yes,Yes,£250.00,,None,Furnished,Males or females,House share,None,None,None,4,Yes,SE15 Area info,£766 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
50,Ad ref# 16030009,Peckham Rye,Now,None,No,No,£570.00,,5-10 minutes walk away,Furnished,Males or females,Flat share,shared,None,9 months,3,None,SE15 Area info,£570 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
51,Ad ref# 16014735,Peckham Rye,Now,No,Yes,Yes,£500.00,No,0-5 minutes walk away,Furnished,Female preferred,House share,shared,3 months,1 month,4,No,SE15 Area info,£450 pcm (single),https://www.spareroom.co.uk/flatshare/flatshar...
52,Ad ref# 16008083,Peckham,Now,Yes,Yes,Yes,£699.00,No,5-10 minutes walk away,Furnished,Males or females,Flat share,No,None,None,4,No,SE15 Area info,£699 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
53,Ad ref# 6908371,Peckham,Now,No,Yes,Yes,£850.00,No,5-10 minutes walk away,Furnished,Males or females,House share,shared,None,6 months,1,Yes,SE15 Area info,£850 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
54,Ad ref# 16015294,Peckham Rye,Now,Yes,No,Yes,£600.00,No,5-10 minutes by bus away,Furnished,Males or females,Flat share,shared,None,None,1,No,SE15 Area info,£600 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
55,Ad ref# 15860466,Peckham,29 Jan 2022,Yes,Some,No,£900.00,,5-10 minutes walk away,Furnished,Males or females,Flat share,shared,None,6 months,3,None,SE15 Area info,£650 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
56,Ad ref# 16001593,Peckham,Now,Yes,Some,Yes,£0.00,No,None,Furnished,Males or females,Flat share,shared,None,None,1,No,SE15 Area info,£800 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
57,Ad ref# 16030223,Peckham,Now,None,Yes,Yes,£600.00,,None,Furnished,Males or females,Flat share,shared,None,None,4,None,SE15 Area info,£615 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
58,Ad ref# 14028040,London SE15,19 Jan 2022,No,Yes,Yes,£500.00,No,0-5 minutes walk away,Furnished,Males or females,House share,shared,None,6 months,4,Yes,SE15 Area info,£700 pcm (double),https://www.spareroom.co.uk/flatshare/flatshar...
59,Ad ref# 14705491,London SE15,Now,No,Yes,Yes,£500.00,No,None,Furnished,Male preferred,House share,shared,None,1 month,8,Yes,SE15 Area info,£145 pw (double),https://www.spareroom.co.uk/flatshare/flatshar...

The preprocessing steps are undertaken by the classes in `preprocessing.py`. These include:

  - The removal of all listings that are whole properties rather than individual rooms
  - The extraction of separation of distinct pieces of information within some features into their own separate features. E.g. the original `price` feature is split into the the price value, the rate (p/w or pcm) and whether or not the room has an ensuite.
  - Transformation of some features into a more useful form - `availability` is transformed into `available_in` which is simply and integer of the number of days between the current day and the room's availability date.
  - Encoding of Yes/No features in a binary format, and other categorical features in a one-hot format where appropriate

In [ ]:
from transformers import DataFrameTransformer
t = DataFrameTransformer()
df = t.fit_transform(df)
df.head()

In [ ]:
from preprocessing import remove_non_rooms
df = remove_non_rooms(df)
df.head()

In [ ]:
from preprocessing import PriceExtractor

pe = PriceExtractor()
pe.fit_transform(df).head()

In [ ]:
from preprocessing import AvailabilityTransformer

at = AvailabilityTransformer()
at.fit_transform(df).head()

In [ ]:
from preprocessing import TermTransformer

tt = TermTransformer()
tt.fit_transform(df).head()

In [ ]:
from preprocessing import AdRefExtractor

are = AdRefExtractor()
are.fit_transform(df).head()

In [ ]:
from preprocessing import PostcodeExtractor

pe = PostcodeExtractor()
pe.fit_transform(df).head()

In [ ]:
from preprocessing import DepositTransformer

dt = DepositTransformer()
dt.fit_transform(df).head()

In [ ]:
from preprocessing import TimeToStationExtractor

ttse = TimeToStationExtractor()
ttse.fit_transform(df).head()

In [ ]:
from preprocessing import FeatureEncoder
fe = FeatureEncoder()
fe.fit_transform(df).head()

In [ ]:
df.head()

In [27]:
from model import build_model
model = build_model()
model.fit(df)

Pipeline(steps=[('remover', Pipeline(steps=[('remover', PropertyRemover())])),
                ('transformer',
                 ColumnTransformer(transformers=[('price', PriceExtractor(),
                                                  ['price']),
                                                 ('available_in',
                                                  AvailabilityTransformer(),
                                                  ['available_in']),
                                                 ('lease_terms',
                                                  TermTransformer(),
                                                  ['max_term', 'min_term']),
                                                 ('ad_ref', AdRefExtractor(),
                                                  ['ad_ref']),
                                                 ('deposit',
                                                  DepositTransformer(),
                                                  ['deposit']),
                                                 ('time_to_station',
                                                  TimeToStationExtractor(),
                                                  ['distance_to_station']),
                                                 ('binary_encode',
                                                  BinaryEncoder(),
                                                  ['balcony', 'broadband',
                                                   'disabled_access',
                                                   'living_room', 'furnished',
                                                   'house_type', 'parking']),
                                                 ('ordinal_encode',
                                                  OrdinalEncoder(), ['bills']),
                                                 ('one_hot', OneHotEncoder(),
                                                  ['postcode', 'gender'])])),
                ('null_imputer', Imputer())])

In [28]:
pd.DataFrame(model.transform(df)).head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
1,900.0,1,1,30,0,1,16057268,0,900.0,0,1.0,1.0,1,No,1.0,1,0,1.0,2,0,0,0,0
2,900.0,1,0,1,0,2,598455,0,900.0,5,1.0,0.0,1,No,1.0,1,0,0.0,1,0,0,0,0
3,1000.0,1,1,36,0,6,16056358,0,850.0,0,1.0,0.0,1,No,1.0,1,1,1.0,2,0,1,0,0
6,1099.0,1,1,17,0,3,15171013,0,999.0,0,1.0,1.0,1,,1.0,1,1,1.0,2,0,0,1,0
9,750.0,1,0,28,0,0,16055415,0,0.0,0,1.0,0.0,1,No,1.0,1,0,0.0,2,0,0,1,0
10,725.0,1,0,0,1,6,8566882,0,725.0,5,1.0,0.0,1,No,0.0,1,0,0.0,2,0,0,1,0
12,900.0,1,0,0,1,2,11606833,0,500.0,0,1.0,0.0,1,No,1.0,1,1,0.0,2,0,0,1,0
15,700.0,1,0,0,0,0,16011336,0,500.0,10,0.0,0.0,1,No,1.0,1,1,0.0,2,0,1,0,0
17,780.0,1,0,0,0,12,13761043,0,700.0,5,1.0,0.0,1,No,1.0,1,1,1.0,2,0,0,1,0
20,600.0,1,0,0,0,1,3252724,0,600.0,0,1.0,0.0,1,No,1.0,1,1,1.0,2,0,0,1,0
21,560.0,0,0,0,0,0,16053595,0,500.0,0,1.0,1.0,1,No,1.0,1,0,0.0,2,0,0,0,0
23,650.0,1,0,0,0,0,15964952,1,650.0,10,1.0,0.0,1,No,1.0,1,1,0.0,2,0,0,1,0
24,690.0,1,0,49,0,6,16051108,0,0.0,0,1.0,0.0,1,No,1.0,1,0,0.0,0,0,0,1,0
26,850.0,1,0,0,1,1,3045191,0,850.0,5,1.0,0.0,1,No,1.0,1,1,1.0,1,0,0,1,0
27,885.0,1,0,5,1,3,16050293,0,0.0,0,1.0,0.0,1,No,1.0,1,1,0.0,2,0,0,1,0
28,580.0,1,0,0,0,1,13349086,1,500.0,5,1.0,1.0,1,No,1.0,1,0,1.0,2,0,0,1,0
31,693.0,1,0,9,0,7,16045056,0,693.0,0,1.0,0.0,0,No,1.0,1,1,0.0,0,0,0,1,0
33,600.0,0,1,0,0,3,15089104,1,600.0,0,1.0,1.0,1,No,1.0,1,1,1.0,2,0,0,1,0
35,480.0,1,0,0,0,12,16046919,0,480.0,5,1.0,0.0,0,No,1.0,1,1,0.0,0,0,0,0,0
36,500.0,1,0,0,1,5,16046294,0,0.0,0,1.0,0.0,0,No,0.0,1,0,0.0,0,0,0,1,0

#